.pos{
    font-size: 0.9rem;
    color: #6C7981;
}
.pad {
    padding-bottom: 10px;
}

@media (max-width: 1199px) {
    .pos{
        font-size: 1.3vw;
    }
}
@media (max-width: 860px) {
    .pos{
        font-size: 12px !important;
    }
}