.content{
    margin-left: 15px;
    background: #ECECEC;
    padding: 10px;
    padding-top: 0;
}
button{
    margin-top: 10px;
    width: 125px;
}
//начало уменьшения текста
@media (max-width: 1199px) {
    * {
        font-size: 1.3vw;
    }
    button{
        width: 14vw;
        font-size: 1.2vw;
    }
    h2 {
        font-size: 2.9vw;
    }
}
//конец уменьшения текста 
@media (max-width: 860px) {
    * {
        font-size: 12px;
    }
    button{
        width: 121px;
        font-size: 10px !important;
    }
    h2 {
        font-size: 20px;
    }
}