.dualBtn .btn  {
    border: 1px solid #ADADAD !important;
    border-collapse: collapse !important;
}
.selectType.btn {
    margin-right: 0;
    width: 120px;
    border-radius: 4px 0 0 4px;
    padding-left: 3px;
    padding-right: 3px;
}
.closeBtn.btn {
    margin-left: 0;
    width: 25px !important;
    padding-left: 2px; 
    padding-right: 2px; 
    border-radius: 0 4px 4px 0;
}